<style>
    .goBtnClass{
        font-size: 30px;
    }
    .goBtnClass .goTop{
        position: fixed;
        right: 50px;
        bottom: 105px;
    }
    .goBtnClass .goBottom{
        position: fixed;
        right: 50px;
        bottom: 50px;
    }
    .goBtnClass .goBtn{
        text-align: center;
        background: #333;
        color: #fff;
        border-radius: 10px;
        border: 1px solid #333;
        width: 50px;
        height: 50px;
        opacity: 0.6;
        cursor:pointer;
    }
    .goBtnClass .goBtn span{
        margin-left:2px;
        line-height:50px;
        top:0px
    }
</style>

<goto-btn></goto-btn>

fill blank<br>
fill blank<br>
fill blank<br>
fill blank<br>
fill blank<br>
fill blank<br>
fill blank<br>
fill blank<br>
fill blank<br>
fill blank<br>
fill blank<br>
fill blank<br>
fill blank<br>
fill blank<br>
fill blank<br>
fill blank<br>
fill blank<br>
fill blank<br>
fill blank<br>
fill blank<br>
fill blank<br>
fill blank<br>
fill blank<br>
fill blank<br>
fill blank<br>
fill blank<br>
fill blank<br>
fill blank<br>
fill blank<br>
fill blank<br>
fill blank<br>
fill blank<br>
fill blank<br>
fill blank<br>
fill blank<br>
fill blank<br>
fill blank<br>
fill blank<br>
fill blank<br>
fill blank<br>
fill blank<br>
fill blank<br>
fill blank<br>
fill blank<br>
fill blank<br>
fill blank<br>